## Handwritten Hangul Analysis

Notebook for analysis of the Handwritten Hangul Dataset (src: ) by Ethan Payne.

### Preprocessing

Please see `data_wrapper.py` for data handling.

In [1]:
import pandas as pd
import numpy as np
from data_wrapper import DataWrapper

In [3]:
HandwrittenHangul = DataWrapper(raw_data_path = "Data\RawData", output_path = "Data", seed = 1)
HandwrittenHangul.df.head()

    image_name labels
0   ae_1_0.jpg     ae
1   ae_1_1.jpg     ae
2  ae_1_10.jpg     ae
3  ae_1_11.jpg     ae
4  ae_1_12.jpg     ae